<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
body {
    margin: 2rem 4rem;
    background-color: #CBD5E1;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input-group {
    position: relative;
}

.input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font: inherit;
    color: black;
    background-color: transparent;
    outline: 2px solid #000;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform .25s;
}

.input:focus+.input-label,.input:valid+.input-label{
    transform: translate(10px, -14px) scale(.8);
    color: white;
    padding-inline: 5px;
    background-color: #1E293B;
    border-radius: 0.5rem;
    padding: 4px 10px;
    font-size: 1rem;
}


.input:is(:focus, :valid) {
    outline-color: #1E293B;
}
    </style>

    <title>Document</title>
</head>
<body>
    <h2>Add data</h2>

    <form id="str">
        <div class="input-group">
            <input type="text" id="string" class="input" required>
            <label for="name" class="input-label">String</label>
        </div>

        <div class="input-group">
            <input type="number" id="number" class="input" required>
            <label for="name" class="input-label">Integer</label>
        </div>
        <div>
            <br>
            <input type="button" value="Save">
        </div>
    </form>
</body>
</html>