<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/style.css">

    <title>Document</title>
</head>

<body>

    <h2>FILTERS ANYING</h2>
    <form>
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <input type="checkbox" aria-label="Checkbox for following text input" />id
                </label>
                <div class="row col-sm-6">
                    <input class="form-control" type="text" placeholder="ID" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <input type="checkbox" aria-label="Checkbox for following text input" />String
                </label>
                <div class="row col-sm-6">
                    <input class="form-control" type="text" placeholder="String" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <input type="checkbox" aria-label="Checkbox for following text input" />Integer
                </label>
                <div class="row col-sm-6">
                    <input class="form-control" type="number" placeholder="Integer" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <input type="checkbox" aria-label="Checkbox for following text input" />Float
                </label>
                <div class="row col-sm-6">
                    <input class="form-control" type="text" placeholder="Float" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <input type="checkbox" aria-label="Checkbox for following text input" />Date
                </label>
                <div class="row col-sm-3">
                    <input class="form-control" type="date" placeholder="Date" />to
                    <input class="form-control" type="date" placeholder="Date" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <input type="checkbox" aria-label="Checkbox for following text input" />Boolean
                </label>
                <div class="row col-sm-6">
                    <select class="form-control" id="exampleFormControlSelect1" placeholder="--chose the bolean--">
                        <option>True</option>
                        <option>False</option>
                    </select>
                </div>
            </div>
        </div>
        </div>
        <div class="container">
            <button type="button" class="btn btn-primary">Search</button>
        </div>
    </form>
</body>

</html>