<h2>Filter</h2>

<form>
    <div>
        <div class="flex-container">
            <label class="col-sm-2 col-form-label">
                <input type="checkbox" aria-label="Checkbox for following text input" />ID
            </label>
            <div class="space-8">
                <input id="Id" class="input-search" type="text" placeholder="Id" />
            </div>
        </div>
    </div>
    <br>

    <div>
        <div class="flex-container">
            <label class="col-sm-2 col-form-label">
                <input type="checkbox" aria-label="Checkbox for following text input" />String
            </label>
            <div class="space-8">
                <input class="input-search" type="text" placeholder="String" />
            </div>
        </div>
    </div>
    <br>

    <div>
        <div class="flex-container">
            <label class="col-sm-2 col-form-label">
                <input type="checkbox" aria-label="Checkbox for following text input" />Integer
            </label>
            <div class="space-8">
                <input class="input-search" type="number" placeholder="Integer" />
            </div>
        </div>
    </div>
    <br>

    <div>
        <div class="flex-container">
            <label class="col-sm-2 col-form-label">
                <input type="checkbox" aria-label="Checkbox for following text input" />Float
            </label>
            <div class="space-8">
                <input class="input-search" type="text" placeholder="Float" />
            </div>
        </div>
    </div>
    <br>

    <div>
        <div class="flex-container">
            <label class="">
                <input type="checkbox" aria-label="Checkbox for following text input" />Date
            </label>
            <div class="space-8">
                <input class="input-search date-input" type="date" placeholder="Date" /> <br>to<br>
                <input class="input-search date-input" type="date" placeholder="Date" />
            </div>
        </div>
    </div>
    <br>

    <div>
        <div class="flex-container">
            <label class="">
                <input type="checkbox" aria-label="Checkbox for following text input" />Boolean
            </label>
            <div class="space-8">
                <select class="input" id="exampleFormControlSelect1" placeholder="--chose the bolean--">
                    <option value="" selected disabled>-- Choose Boolean --</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
        </div>
    </div>
    </div>
    <br>

    <div>
        <button id="search-button">Search</button>
    </div>
    <br>
    <br>
</form>